.wrapper{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(11, 10, 63, 0.922);
}
.text{
 font-size: 25px;
 color: white;
}